.ant-select-selector {
    border: 1px solid var(--primary-color) !important;
}
.ant-select-selector:focus-within {
    border: 1px solid blue !important;
}

.content-booking {
    height: 100vh;
    background-image: url(https://res.cloudinary.com/vannam042/image/upload/v1672115969/web_app/bg-booking_yuwzzf.png) !important;
}

.content-booking-form{
    background-image: url(https://res.cloudinary.com/vannam042/image/upload/v1672115969/web_app/bg-booking_yuwzzf.png) !important;
}