.entry-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 80px;
}
.post-title {
    color: #1e2132;
    font-weight: 500;
    margin-top: 20px;
    font-size: 20px;
}
.entry-content {
    padding-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #3c3c3c;
    font-size: 14px;
    font-weight: 300;
}
.post-date {
    float: right;
    color: #9b9c9f;
    font-size: 12px;
    font-weight: 300;
    margin-top: 28px;
    margin-bottom: 10px;
}
.post-title-text {
    font-weight: 400;
    font-size: 48px;
    color: #1e2132;
    padding-bottom: 20px;
}

.post-date-text {
    float: right;
    color: #9b9c9f;
    font-size: 16px;
    font-weight: 300;
    margin-top: 28px;
    margin-bottom: 10px;
}
