.setting-content .ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
}
.updateProfile>.ant-row {
    display: inline;
}
