.ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail::after {
    background-color: #02b875 !important;
}

.ant-menu-item-finish>.ant-menu-item-container>.ant-menu-item-tail::after {
    background-color: #02b875 !important;
}

.ant-steps-item-process .ant-steps-item-icon,
.status-content .ant-steps .ant-steps-item-finish .ant-steps-item-icon,
.status-content .ant-steps.ant-steps-navigation .ant-steps-item::before {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon .ant-steps-icon {
    color: var(--primary-color) !important;
}

.ant-steps-item-container .ant-steps-item-title {
    color: var(--primary-color) !important;
}