@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --primary-color: #02b875;
    --primary-color-hover: #09915f;
    --sider-admin-color: #17274e;
    --btn-checkbox-disable: #bfbfbf;
    --white-color: #ffffff;
    --disabled-color: #f5f5f5;
}
a:hover {
    color: var(--primary-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: revert;
    font-weight: revert;
}
/* customize btn checkbox checked */
.ant-checkbox-checked .ant-checkbox-inner {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

/*  customize btn type primary*/

.ant-btn.ant-btn-sm,
.btn-primary {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
    border: none;
    outline: none;
}

/* .btn-primary:disabled {
    background-color: var(--disabled-color) !important;
} */
.btn-primary:hover {
    background-color: var(--primary-color-hover) !important;
    color: var(--white-color) !important;
    border: none;
    outline: none;
}

.ant-btn.ant-btn-sm:hover {
    background-color: var(--primary-color-hover) !important;
}

/* customize color spin loading  */
.spin-customize .ant-spin-dot-item {
    background-color: var(--primary-color) !important;
}
.spin-customize .ant-spin-text {
    padding-top: 24px !important;
    font-size: 18px !important;
    font-weight: 500;
    color: var(--primary-color);
}
.ant-image-preview-img-wrapper {
    display: flex;
    justify-content: center;
}
.ant-image-preview-img {
    position: absolute;
    top: 0px;
    padding: 5% 0px;
}
.ant-image-mask {
    border-radius: 50%;
}
.aaa > .ant-row {
    display: inherit;
}

/* cusomize color antd selector datepicker */
.ant-select .ant-select-selector:focus-within,
.ant-picker-focused,
.ant-picker,
.ant-picker-cell-inner::before {
    border: 1px solid var(--primary-color) !important;
}
.ant-picker-today-btn {
    color: var(--primary-color) !important;
}
/* css btn datepicker */

.ant-picker-range .ant-picker-active-bar,
.ant-picker-dropdown .ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-dropdown .ant-picker-cell-range-end .ant-picker-cell-inner,
.ant-picker-dropdown .ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-dropdown .ant-picker-week-panel-row-selected td {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
}
